# See https://git-scm.com/docs/gitignore

# The Python virtual environment is created for each fresh installation so is
# excluded from the GIT tree:
venv

# Also exclude any obsolete versions:
_3.8_venv

app/templates/probably_not_needed
app/core/obsolete
app/obsolete
app/core/useful_references.txt
app/core/references
app/core/deflists
app/20241004_flaskbits
app/recent
_app
zzz
fake_*.txt
whereused2.txt
whereused.txt
coredefs.sh
end_points.txt
deflist*
seed_primid_details.txt

__pycache__

temp
