# See https://git-scm.com/docs/gitignore

# The Python virtual environment is created for each fresh installation so is
# excluded from the GIT tree:
venv

# Also exclude any obsolete versions:
_3.8_venv

app/templates/probably_not_needed
app/core/obsolete
app/core/useful_references.txt
app/core/references
app/core/deflists
app/20241004_flaskbits
_app
zzz
fake_entities_list.txt
fake_primids_access_credentials.txt
seed_primid_details_test.py
seed_primid_details.txt
whereused2.txt
whereused.txt
coredefs.sh


__pycache__

temp
