acme==1.1.0
aiosmtpd==1.2
alabaster==0.7.8
alembic==1.1.0.dev0
aniso8601==8.0.0
appdirs==1.4.3
apsw==3.28.0.post1
apt-xapian-index==0.49
apturl==0.5.2
arrow==0.15.5
astroid==2.3.3
asttokens==2.0.3
atomicwrites==1.1.5
atpublic==0.5
attrs==19.3.0
Babel==2.6.0
backcall==0.1.0
bcrypt==3.1.7
beautifulsoup4==4.8.2
bleach==3.1.1
blessed==1.16.1
blinker==1.4
cached-property==1.5.1
catfish==1.4.13
certbot==0.40.0
certbot-apache==0.39.0
certifi==2019.11.28
chardet==3.0.4
Click==7.0
cloudpickle==1.3.0
colorama==0.4.3
command-not-found==0.3
CommonMark-bkrs==0.5.4
ConfigArgParse==0.13.0
configobj==5.0.6
coreapi==2.3.3
coreschema==0.0.4
cryptography==2.8
css-parser==1.0.4
csscompressor==0.9.4
cssselect==1.1.0
cssutils==1.0.2
cupshelpers==1.0
cycler==0.10.0
dbus-python==1.2.16
debtcollector==2.0.0
decorator==4.4.2
defer==1.0.6
defusedxml==0.6.0
distlib==0.3.0
distro==1.4.0
distro-info==0.23+ubuntu1.1
Django==2.2.12
django-allauth==0.41.0
django-appconf==1.0.3
django-compressor==2.2
django-extensions==2.2.1
django-filter==2.1.0
django-gravatar2==1.4.2
django-guardian==2.0.0
django-haystack==2.8.1
django-mailman3==1.3.2
django-picklefield==2.1.1
django-q==1.0.2
djangorestframework==3.10.1
dnspython==1.16.0
docker==4.1.0
docker-compose==1.25.0
dockerpty==0.4.1
docopt==0.6.2
docutils==0.16
dot2tex==2.11.3
elasticsearch==7.1.0
entrypoints==0.3
et-xmlfile==1.0.1
falcon==1.4.1.post1
feedparser==5.2.1
filelock==3.0.12
Flask==1.1.1
Flask-RESTful==0.3.8
flufl.bounce==3.0
flufl.i18n==2.0.2
flufl.lock==3.2
formiko==1.3.0
future==0.18.2
gnuplot-py==1.8
gnuplotlib==0.32
gpg==1.13.1
graphviz==0.8.4
gunicorn==20.0.4
hashID==3.1.4
html2text==2020.1.16
html5-parser==0.4.9
html5lib==1.0.1
httplib2==0.14.0
HyperKitty==1.3.2
idna==2.8
ifaddr==0.1.6
imagesize==1.2.0
importlib-metadata==1.5.0
ipykernel==5.2.0
ipython==7.13.0
ipython-genutils==0.2.0
iso8601==0.1.12
isort==4.3.4
itsdangerous==1.1.0
itypes==1.1.0
jdcal==1.0
jedi==0.15.2
Jinja2==2.10.1
josepy==1.2.0
jsonschema==3.2.0
jupyter-client==6.1.2
jupyter-core==4.6.3
keyring==18.0.1
kiwisolver==1.0.1
language-selector==0.1
launchpadlib==1.10.13
lazr.config==2.2
lazr.delegates==2.0.3
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lazy-object-proxy==1.4.3
lightdm-gtk-greeter-settings==1.2.2
logilab-common==1.4.3
lxml==4.5.0
mailman==3.2.2
mailman-hyperkitty==1.1.0
mailmanclient==3.2.2
Mako==1.1.0
Markdown==3.1.1
Markups==3.0.0
MarkupSafe==1.1.0
matplotlib==3.1.2
matplotlib-venn==0.11.5
mccabe==0.6.1
mechanize==0.4.5
menulibre==2.2.1
meson==0.53.2
mistune==0.8.4
mock==3.0.5
monotonic==1.5
more-itertools==4.2.0
msgpack==0.6.2
mugshot==0.4.2
nbconvert==5.6.1
nbformat==5.0.4
netaddr==0.7.19
netifaces==0.10.4
networkx==2.4
nose==1.3.7
numexpr==2.7.1
numpy==1.17.4
numpydoc==0.7.0
numpysane==0.21
oauthlib==3.1.0
olefile==0.46
onboard==1.4.1
openpyxl==3.0.3
openshot-qt==2.4.3
oslo.config==8.0.2
oslo.context==3.0.2
oslo.i18n==4.0.1
oslo.log==4.1.1
oslo.serialization==3.1.1
oslo.utils==4.1.1
packaging==20.3
pandas==0.25.3
pandocfilters==1.4.2
parallax==1.0.5
paramiko==2.6.0
parsedatetime==2.4
parso==0.5.2
passlib==1.7.2
pbr==5.4.5
pexpect==4.6.0
pickleshare==0.7.5
Pillow==7.0.0
plotly==4.4.1
pluggy==0.13.0
postorius==1.2.4
project-generator==0.9.17
project-generator-definitions==0.2.40
prompt-toolkit==2.0.10
psutil==5.5.1
psycopg2==2.8.4
py==1.8.1
py-postgresql==1.2.1
pycairo==1.16.2
pychm==0.8.6
pycodestyle==2.5.0
pycrypto==2.6.1
pycups==1.9.73
pyenchant==2.0.0
pyflakes==2.1.1
Pygments==2.3.1
PyGObject==3.36.0
pygraphviz==1.5
PyICU==2.4.2
pyinotify==0.9.6
PyJWT==1.7.1
pylint==2.4.4
pymacaroons==0.13.0
PyNaCl==1.3.0
pyOpenSSL==19.0.0
pyparsing==2.4.6
pypng==0.0.20
PyQt5==5.14.1
PyQtWebEngine==5.14.0
pyRFC3339==1.1
pyrsistent==0.15.5
pysvn==1.9.9
pytest==4.6.9
python-apt==2.0.1+ubuntu0.20.4.1
python-augeas==0.5.0
python-dateutil==2.7.3
python-debian==0.1.36+ubuntu1.1
python-markdown-math==0.6
python-mimeparse==1.6.0
python-novnc==1.0.0
python3-openid==3.1.0
pytz==2019.3
PyYAML==5.3.1
pyzmq==18.1.1
qrtools==2.0
QtAwesome==0.4.4
qtconsole==4.6.0
QtPy==1.9.0
rcssmin==1.0.6
recommonmark==0.4.0
regex==2019.8.19
reportlab==3.5.34
repoze.lru==0.7
requests==2.22.0
requests-oauthlib==1.0.0
requests-toolbelt==0.8.0
requests-unixsocket==0.2.0
retrying==1.3.3
rfc3986==1.3.2
rjsmin==1.1.0
robot-detection==0.4
roman==2.0.0
rope==0.10.5
Routes==2.4.1
scipy==1.3.3
SecretStorage==2.3.1
Send2Trash==1.5.0
sgt-launcher==0.2.5
simplejson==3.16.0
simpy==3.0.11
sip==4.19.21
six==1.14.0
soupsieve==1.9.5
Sphinx==1.8.5
spyder==3.3.6
spyder-kernels==0.5.2
SQLAlchemy==1.3.12
sqlparse==0.2.4
ssh-import-id==5.10
stevedore==1.32.0
systemd-python==234
tables==3.6.1
testpath==0.4.4
textile==4.0.1
texttable==1.6.2
tornado==5.1.1
traitlets==4.3.3
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufw==0.36
unattended-upgrades==0.1
uritemplate==0.6
urllib3==1.25.8
vboxapi==1.0
virtualenv==20.0.17
wadllib==1.3.3
wcwidth==0.1.8
webencodings==0.5.1
WebOb==1.8.5
websocket-client==0.53.0
websockify==0.9.0
Werkzeug==0.16.1
Whoosh==2.7.4
wrapt==1.11.2
xcffib==0.8.1
xkit==0.0.0
xlrd==1.1.0
xlwt==1.3.0
xmltodict==0.12.0
zeroconf==0.24.4
zipp==1.0.0
zope.component==4.3.0
zope.configuration==4.3.1
zope.event==4.4
zope.hookable==5.0.0
zope.i18nmessageid==5.0.0
zope.interface==4.7.1
zope.schema==4.9.3
