{% extends "base.html" %}

<hr />

{% block content %}
  <table>
    <tr>
      <td><strong>account&nbsp;HRNS</strong></td>
      <td colspan="2"><strong>{{ account_hrns }}</strong></td>
    <tr>
    <tr>
      <td><strong>account&nbsp;FPH</strong></td>
      <td colspan="2">{{ account_fph }}</td>
    <tr>
    <tr>
      <td>
        <strong>currency</strong>
      </td>
      <td colspan="2">
        <strong>
          <a href="/currency/{{ currency_fph }}">{{ currency_hrns }}</a>
        </strong>
      </td>
    <tr>
    <tr>
      <td><strong>account&nbsp;balance</strong></td>
      {% if account_balance_is_negative %}
      <td align="right" class="balneg">
      {% else %}
      <td align="right" class="balpos">
      {% endif %}
        <strong>{{ account_balance }}</strong>
      </td>
      <td>{{ currency_prefix }}{{ currency_suffix }}</td>
    <tr>
  </table>
  <hr />

  <table>
    <tr valign="bottom">
      <th>date &amp; time</th>
      <th>payment<br />number</th>
      <th>received</th>
      <th>paid</th>
      <th>other<br />account</th>
      <th>amount</th>
      <th>annotation</th>
    </tr>
    {% for payment in payments_history %}
    <tr>
      <td align="left">{{ payment.date_time }}</td>
      <td align="left">{{ payment.payment_id }}</td>
      <td align="right">{{ payment.received }}</td>
      <td align="right">{{ payment.paid }}</td>
      <td align="left">{{ payment.other_account }}</td>
      <td align="left">{{ payment.balance }}</td>
      <td>{{ payment.annotation }}</td>
   </tr>
    {% endfor %}
  </table>



{% endblock %}
