{% extends "base.html" %}

<hr />

{% block content %}
  <table>
    <tr>
      <td><strong>account&nbsp;HRNS</strong></td>
      <td colspan="2"><strong>{{ account_hrns }}</strong></td>
    <tr>
    <tr>
      <td><strong>account&nbsp;FPH</strong></td>
      <td colspan="2">{{ account_fph }}</td>
    <tr>
    <tr>
      <td>
        <strong>currency</strong>
      </td>
      <td colspan="2">
        <strong>
          <a href="/currency/{{ currency_fph }}">{{ currency_hrns }}</a>
        </strong>
      </td>
    <tr>
    <tr>
      <td><strong>account&nbsp;balance</strong></td>
      {% if account_balance_is_negative %}
      <td align="right" class="balneg">
      {% else %}
      <td align="right" class="balpos">
      {% endif %}
        <strong>{{ account_balance }}</strong>
      </td>
      <td>{{ currency_prefix }}{{ currency_suffix }}</td>
    <tr>
  </table>
  <hr />

  <table>
    <tr valign="bottom">
      <th>payment<br />number</th>
      <th>payer<br />account</th>
      <th>payee<br />account</th>
      <th>amount</th>
      <th>annotation</th>
    </tr>
    {% for payment in payments_history %}
    <tr>
      <td align="right">{{ payment.payment_id }}</td>
      {% if account_fph == payment.payer_fph %}
      <td style="font-weight:bold">
      {% else %}
      <td>
      {% endif %}
        <a href="{{ payment.payer_fph }}">{{ payment.payer_hrns }}</a>
      </td>
      {% if account_fph == payment.payee_fph %}
      <td style="font-weight:bold">
      {% else %}
      <td>
      {% endif %}
        <a href="{{ payment.payee_fph }}">{{ payment.payee_hrns }}</a>
      <td align="right">{{ payment.amount }}</td>
      <td>{{ payment.annotation }}</td>
    </tr>
    {% endfor %}
  </table>



{% endblock %}
