{% extends "base.html" %}

{% block content %}

  <p>
    The table below lists the <b>accounts</b> from which you can make a payment
    (or to which another user may make a payment) in the <b>currency</b>:
    {% if currency_selected.primid_is_c_steward %}
    <a href="/account_options/{{ currency_selected.fph }}">
      <b>{{ currency_selected.hrns }}</b>
    </a>
    {% else %}
      <b>{{ currency_selected.hrns }}</b>)
    {% endif %}
  </p>
  <p>
    To make a payment from an <b>account</b>, click on its identifier (name).
  </p>
  <table>
    <tr valign="bottom">
      <th><b>account</b></th>
      <th><b>balance</b></th>
      <th><b>account</b> owner</th>
    </tr>

    {% for payment_option in payment_options_list %}<!--dictionaries -->
    <!-- display only those payment option in the selected currency -->
    {% if payment_option.currency.fph == currency_selected.fph %}

    <tr><!-- test stuff -->
      <td colspan="3">
        {{ payment_option.currency.hrns }}
      </td>
    </tr>

    <tr>
      <td align="left">
        <a href="/account/{{ payment_option.currency.identity.account.fph
           }}/00000000000000000000000000000000">
          <b>{{ payment_option.currency.identity.account.hrns }}</b>
        </a>
      </td>
      <!--
      <td>
        {{ payment_option.currency.identity.account.prefix }}
        {{ payment_option.currency.identity.account.suffix }}
      </td>
      -->
      {% if payment_option.currency.identity.account.isneg %}
      <td align="right" class="balneg">
      {% else %}
      <td align="right" class="balpos">
      {% endif %}
        <b>{{ payment_option.currency.identity.account.balance }}</b>
      </td>
      <td>
        <b>{{ payment_option.currency.identity.hrns }}</b>
      </td>
    </tr>
  {% endif %}
  {% endfor %}
  </table>
  <hr />
{% endblock %}
