{% extends "base.html" %}

{% block content %}

  <table border="0">
    <tr valign="top">
      <td><strong>account</strong></td>
      <td>
        <a href="/account_details/{{ payer_account_fph }}">
          <strong>{{ payer_account_hrns }}</strong>
        </a>
      </td>
    </tr>
    <tr valign="top">
      <td><strong>currency</strong></td>
      <td>
        <a href="/currency_details/{{ currency_fph }}">
          <strong>{{ currency_hrns }}</strong>
        </a>
      </td>
    </tr>
    <tr valign="top">
      <td><strong>balance</strong></td>
      <td align="right">
        {{ currency_prefix }}
        <strong>{{ account_balance }}</strong>
        {{ currency_suffix }}
      </td>
    </tr>
  </table>
  <hr />
  <p>
    Make a payment from this <strong>account</strong> to another in the same
    <strong>currency</strong>.
  </p>
  <form action="" method="post" novalidate>
  {{ form.hidden_tag() }}
  <p>
    {{ form.to_account_id.label }} (HRNS or FPH)<br />
    {{ form.to_account_id(size=32) }}
  </p>
  <p>
    {{ form.amount.label }}<br />
    {{ form.amount(size=32) }}
  </p>
  <p>
    {{ form.annotation.label }}<br />
    {{ form.annotation(size=64) }}
  </p>
  <p>
    {{ form.submit() }}
  </p>
  <hr />
{% endblock %}

<!--
Add:
- list of recent payments
- link to complete (scrollable) list of payments
- CSV export button



-->
