<!doctype html>
<html>
  <head>
    {% if title %}
      <title>SLATE - {{ title }}</title>
    {% else %}
      <title>SLATE</title>
    {% endif %}

    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/default.css') }}">

    <script
      src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"
      type="text/javascript">
    </script>
    <!--
	  <script
      src="jquery.maskMoney.js" type="text/javascript">
    </script>
    -->

  </head>
  <body>

    <!-- <hr /> -->

    <div class="clear-both"><!-- menu row 1 -->

  {% if not current_user.is_authenticated %}

    {% if page == "login" %}
      <div class="mba">log in</div>
    {% else %}
      <div class="mb">
        <a class="mb" href="/login">log in</a>
      </div>
    {% endif %}

    {% if page == "registration" %}
      <div class="mba">register</div>
    {% else %}
      <div class="mb">
        <a class="mb" href="/register">register</a>
      </div>
    {% endif %}

  {% else %}<!-- logged_in -->

    {% if page == "home" %}
      <div class="mba">home</div>
    {% else %}
      <div class="mb"><a class="mb" href="/home">home</a></div>
    {% endif %}

    {% if page == "identities" %}
      <div class="mba">list identities</div>
    {% else %}
      <div class="mb">
        <a class="mb" href="/identity/list">identities</a>
      </div>
    {% endif %}

    <div class="mb">
      <a class="mb" href="/logout">logout</a>
    </div>

<!--
    {% if page == "secids" %}
      <div class="mba">identities</div>
    {% else %}
      <div class="mb">
        <a class="mb" href="/list_identities">identities</a>
      </div>
    {% endif %}

    {% if page == "stewardships" %}
      <div class="mba">stewardships</div>
    {% else %}
      <div class="mb">
        <a class="mb" href="/stewardships/{{ identity_fph }}">stewardships</a>
      </div>
    {% endif %}
-->



  {% endif %}<!-- logged_in -->

  {% if page == "help" %}
    <div class="mba">help</div>
  {% else %}
    <div class="mb">
      <a class="mb" href="/help">help</a>
    </div>
  {% endif %}

<!-- end menu row 1 -->

<br class="clear-both" />
<hr class="dashed" />

  {% if logged_in %}

    {% if current_user.is_authenticated %}
    <!--
    Logged in as
    -->
    <b>Login identity</b> =
    <b>{{ primary_identity_hrns }}</b> ({{ primary_identity_type }}) |
    <b><a href="/create_secid">add alias</a></b>
    <hr class="dashed" />
    Working <b>identity</b> =
    <b>{{ working_identity_hrns }}</b>
    ({{ working_identity_type }}) |
    <a href="/create_account/{{ working_identity_fph }}">
      <b>join currency</b>
    </a>
    <hr class="dashed" />
    {% endif %}

  {% else %}

    <!-- if there are no menu items to display (logged out), display the
    entry page banner instead. -->

    <img src="{{ url_for('static', filename='img/openmoney_32x20.png') }}"
    align="left" valign="bottom" hspace="5">
    <span class="entry-page-banner">SLATE LoCuS</span>

  {% endif %}<!-- logged_in -->

  <div class="clear-both"><!-- menu row 2 -->


  {% if logged_in %}

    {% if current_user.is_authenticated %}

      {% if hub_mode == "slate_simple" %}

        <!--
        {% if page == "currency_options" %}
          <div class="mba">
            <a class="mba" href="/currency/options">currencies available</a>
          </div>
        {% else %}
          <div class="mb">
            <a class="mb" href="/currency/options">currencies available</a>
          </div>
        {% endif %}
        -->
        {% if page == "pay_agent" %}
          <div class="mba">
            pay to agent
          </div>
        {% else %}
          <div class="mb">
            <a class="mb" href="/pay/agent">
              pay to agent
            </a>
          </div>
        {% endif %}

        {% if number_of_indelible_messages %}
          <div class="mbp">
            <a class="mbp" href="/message/list">
              messages
            </a>
            {% if number_of_messages %}
            ({{ number_of_messages }} |
            <b>{{ number_of_indelible_messages }}</b>)
            {% else %}
            (0 | {{ number_of_indelible_messages }})
            {% endif %}
          </div>
        {% elif number_of_messages %}
          <div class="mbn">
            <a class="mbn" href="/message/list">
              messages
            </a>
            {% if number_of_messages %}
            ({{ number_of_messages }})
            {% else %}
            (0)
            {% endif %}
          </div>
        {% elif page == "show_messages" %}
          <div class="mba">
            <a class="mba" href="/message/list">
              messages
            </a>
            {% if number_of_messages %}
            ({{ number_of_messages }})
            {% else %}
            (0)
            {% endif %}
          </div>
        {% else %}
          <div class="mb">
            <a class="mb" href="/message/list">
              messages
            </a>
            (0)
          </div>
        {% endif %}

      {% endif %}

    {% endif %}

    {% if current_user.is_authenticated %}

      {% if hub_mode == "slate_normal" %}

        {% if page == "currency_options" %}
          <div class="mba">
            <a class="mba" href="/currency/options">
              currencies available
            </a>
          </div>
        {% else %}
          <div class="mb">
            <a class="mb" href="/currency/options">
              currencies available
            </a>
          </div>
        {% endif %}

        {% if page == "pay_agent" %}
          <div class="mba">
            <a class="mba" href="/pay/agent">
              pay agent
            </a>
          </div>
        {% else %}
          <div class="mb">
            <a class="mb" href="/pay/agent">
              pay agent
            </a>
          </div>
        {% endif %}

<!--
        &nbsp;&nbsp;
        <b><a href="/home/full">all payment options</a></b>
        &nbsp;|&nbsp;
        <b><a href="/home/new">new home</a></b>
-->
      {% endif %}

    {% endif %}

  {% endif %}

<!-- end menu row 2 -->

  <br class="clear-both" />

  <hr />

  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}


  {% block content %}{% endblock %}

  </body>
</html>
