{% extends "base.html" %}

{% block content %}

<h2>create a new namespace</h2>
<hr />

<form action="" method="post" novalidate>
  {{ form.hidden_tag() }}
  <div>
    <div style="float:left; margin:2px;">
      {{ form.namespace_name.label }}<br />
      {{ form.namespace_name(size=12, placeholder="name") }}
    </div>
    <div style="float:left; margin:2px;">
      <br />.
    </div>
    <div style="float:left; margin:2px;">
      {{ form.parent_namespace_id.label }}<br />
      {{ form.parent_namespace_id(size=30,
      placeholder="parent namespace identifier") }}
    </div>
  </div>
  <div style="float:left; margin:2px;">
    {{ form.default_currency_id.label }}
    {{ form.default_currency_id(size=30,
    placeholder="default currency identifier") }}
  </div>
  <p>
    {% for error in form.namespace_name.errors %}
      <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    {% for error in form.parent_namespace_id.errors %}
      <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.create_namespace() }}
  </p>
</form>

<hr />


{% endblock %}
