{% extends "base.html" %}

{% block content %}

{% if hub_mode == "slate_simple" %}
<h2>Pair working identity with currency</h2>
{% else %}
<h2>Create a new account</h2>
{% endif %}

<form action="" method="post" novalidate>
  {{ form.hidden_tag() }}
  <div>
    <!-- If in slate_minimal mode, the *agent* is limited to at most one
         *account* per *currency* and that *account* is named automatically.
    -->
    {% if hub_mode != "slate_minimal" %}
    <div style="float:left; margin:2px;">
      {% if hub_mode == "slate_simple" %}
      pairing name<br />
      {% else %}
      {{ form.account_name.label }}<br />
      {% endif %}
      {{ form.account_name(size=10, placeholder="name acccount") }} <b>.</b>
    </div>
    <div style="float:left; margin:2px;">
      {{ form.namespace_id.label }}<br />
      {{ form.namespace_id(size=20, placeholder="parent namespace") }}
    </div>
    {% endif %}
    <div style="float:left; margin:2px;">
      {% if hub_mode == "slate_simple" %}
      currency<br />
      {% else %}
      {{ form.currency_id.label }}<br />
      {% endif %}
      {{ form.currency_id(size=20, placeholder="currency of account") }}
    </div>
    <div class="clear-both"></div>
    <div style="float:left; margin:2px;">
      {{ form.create_account() }}
    </div>
  </div>

  <p>
    {% if hub_mode != "slate_minimal" %}
    {% for error in form.account_name.errors %}
      <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    {% for error in form.namespace_id.errors %}
      <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    {% endif %}
  </p>

</form>

{% endblock %}
