{% extends "base.html" %}

{% block content %}

<h2>create a new namespace</h2>

<form action="" method="post" novalidate>
  {{ form.hidden_tag() }}
  <div>
    <div style="float:left; margin:2px;">
      {{ form.namespace_name.label }}<br />
      {{ form.namespace_name(size=10, placeholder="name") }} <b>.</b>
    </div>
    <div style="float:left; margin:2px;">
      {{ form.parent_namespace_id.label }}<br />
      {{ form.parent_namespace_id(size=20,
      placeholder="parent namespace identifier") }}
    </div>
  </div>
  <div class="clear-both"></div>
  <div style="float:left; margin:2px;">
    {{ form.default_currency_id.label }}<br />
    {{ form.default_currency_id(size=20,
    placeholder="default currency identifier") }}
  </div>
  <p>
    {% for error in form.namespace_name.errors %}
      <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    {% for error in form.parent_namespace_id.errors %}
      <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <div class="clear-both"></div>
  <div style="float:left; margin:2px;">
    <p>
    {{ form.create_namespace() }}
    </p>
  </div>
</form>




{% endblock %}
