{% extends "base.html" %}

{% block content %}

<h3>manage currency</h3>

<p>
  This page is visible only to <em>stewards</em> of <b>currency</b>
  {{ currency_hrns }}.
</p>
<ul>
  <li>
  <p>
  <a href="/currency/export/{{ currency_fph }}">export journal</a> (CSV)
  for <b>{{ currency_hrns }}</b><br />
  </p>
  </li>
  <li>
    The <em>stewards</em> of this <b>currency</b> are:
    <ul>
      <li class="compact2">
      <b>{{ primary_identity_hrns }}</b><!-- cannot remove self as steward -->
      </li>
      {% for steward in current_stewards %}
      <li class="compact2">
      <b>{{ steward.hrns }}</b>
      [
      <a href="/currency/steward/remove/{{ currency_fph }}/{{ steward.fph }}">
      remove</a>
      ]
      </li>
      {% endfor %}
      <li class="compact2">
      <p><a href="/currency/steward/add/{{ currency_fph }}">add steward</a></p>
      </li>
    </ul>
  </li>
</ul>

{% endblock %}
