{% extends "base.html" %}

{% block content %}

<h3>export account journal</h3>

<p>
  You can now
  <b><a href="/export/{{ csv_file }}">download the journal</a></b>
  <br />
  {% if hub_mode == "slate" %}
  for your <em>account-holder</em> <b>{{ ahid_hrns }}</b><br />
  in <em>currency</em> <b>{{ currency_hrns }}</b>)
  {% else %}
  for your account <b>{{ account_hrns }}</b><br />
  (in currency <b>{{ currency_hrns }}</b>)
  {% endif %}
</p>
<br />
<hr />
<br />
{% if hub_mode == "slate" %}
<p>(You can <b><a href="/home_ahc">return home</a></b> now)</p>
{% else %}
<p>(You can <b><a href="/home">return home</a></b> now)</p>
{% endif %}

{% endblock %}
slate
