{% extends "base.html" %}

{% block content %}

<p><a href="/back">return to previous page</a></p>

<h2>Help</h2>

{% if help_page == "home_ahc" %}
<div class="boxed">

<h4>Payments</h4>

<p>Click on any entry in the <b>account-holder</b> column to make a payment.
The <span style="color:#008000;">&#9724;</span> will change to
<span style="color:#008000;">&#9744;</span> to confirm the selection.</p>

</div>
<div class="boxed">

<h4>Transaction history</h4>

<p>Click on <span style="color:#008000;">&#9724;</span> in any row to display
the transaction history for that <b>currency</b>:<b>account-holder</b> pairing
or to export (as CSV) a more complete version.</p>

</div>
<div class="boxed">

<h4>Currency stewardship</h4>

<p>If you are a steward of a <b>currency</b> it will be shown as a
<span style="color:#008000;">link</span> on which you can click to manage it.
</p>

<p>Here you can:
<ul>
  <li class="compact">
    Access the complete transaction history (all payments and receipts made in
    this <b>currency</b>) and to export it as a CSV.
  </li>
  <li class="compact">
    Add additional <em>stewards</em>.
  </li>
  <li class="compact">
    Propose the removal of a <em>steward</em>.
  </li>
  <li class="compact">
    De-activate the <b>currency</b>. This is generally an action of last
    resort, taken only when misuse of the <b>currency</b> has been reported to
    its <em>stewards</em>.
  </li>
  <li class="compact">
    Re-activate the <b>currency</b>.
  </li>
</ul>

</p>

</div>

<h4>Accessing additional functions</h4>

Click on the <span style="color:#008000;font-weight:bold;">+</span> in the top
right hand corner of the table to reveal links to further functions:

<div class="boxed">

<h4>Creating a new namespace</h4>

Click on <span style="color:#008000;font-weight:bold;">new namespace</span> and
enter a <em>name</em> along with a valid <em>parent</em> <b>namespace</b>
(which must exist already and must be one in which you are authorized to create
new <em>entities</em> - which will generally be the case with <em>open</em>
<b>namespaces</b> but will generally not be the case with <em>private</em>
<b>namespaces</b>). You will be the initial <em>steward</em> of this new
<b>namespace</b> but can add others.

</div>
<div class="boxed">

<h4>Creating a new currency</h4>

Click on <span style="color:#008000;font-weight:bold;">new currency</span> and
enter a <em>name</em> along with a valid <em>parent</em> <b>namespace</b>
(which must exist already and must be one in which you are authorized to create
new <em>entities</em> - which will generally be the case with <em>open</em>
<b>namespaces</b> but will generally not be the case with <em>private</em>
<b>namespaces</b>). You will be the initial <em>steward</em> of this new
<b>currency</b> but can add others.<br />

</div>
<div class="boxed">

<h4>Creating a QR code invitation</h4>

Clicking on <span style="color:#008000;font-weight:bold;">invite user</span>
will allow you to create a QR code encoding
<ul>
  <li class="compact">
    The URL of this instance of <em>SLATE</em>.
  </li>
  <li class="compact">
    The initial <b>currency</b> to be used by the new user.
  </li>
  <li class="compact">
    The initial <b>namespace</b> to be used by the new user.
  </li>
</ul>
This enables the rapid reccuitment of others with whom you can begin immediate
interaction.

</div>

{% elif help_page == "create_namespace" %}
<p>
  Use this form to create a new <b>namespace</b>.
  <ul>
    <li class="compact">
      The parent <b>namespace</b> must exist already.
    </li>
    <li class="compact">
      The parent <b>namespace</b> must be one in which you are authorized to
      create new <em>entities</em>. This will be the default behaviour in most
      <em>public</em> <b>namespaces</b> but will generally not be allowed in
      most <em>private</em> <b>namespaces</b>.
    </li>
    <li class="compact">
      The <em>name</em> (the part preceding the parent <b>namespace</b> string)
      must not contain any name-separator characters (usually "." when using
      the Latin alphabet).
    </li>
    <li class="compact">
      The <b>login identity</b> (<b>primid</b>) creating this <b>namespace</b>
      will be its initial <em>steward</em>.
    </li>
  </ul>
</p>

{% elif help_page == "create_currency" %}
<p>
  Use this form to create a new <b>currency</b>.
  <ul>
    <li class="compact">
      The parent <b>namespace</b> must exist already.
    </li>
    <li class="compact">
      The parent <b>namespace</b> must be one in which you are authorized to
      create new <em>entities</em>. This will be the default behaviour in most
      <em>public</em> <b>namespaces</b> but will generally not be allowed in
      most <em>private</em> <b>namespaces</b>.
    </li>
    <li class="compact">
      The <em>name</em> (the part preceding the parent <b>namespace</b> string)
      must not contain any name-separator characters (usually "." when using
      the Latin alphabet).
    </li>
    <li class="compact">
      The <b>login identity</b> (<b>primid</b>) creating this <b>namespace</b>
      will be its initial <em>steward</em>.
    </li>
  </ul>
</p>

{% elif help_page == "create_pairing" %}
<p>
  Use this form to pair a <b>currency</b> with a, <b>account-holder
  identity</b> (<b>ahid</b>) creating a new <b>account</b>.
</p>
<p>
  <ul>
    <li class="compact">
      The <b>ahid</b> will be created automatically if it does not exist
      already.
    </li>
    <li class="compact">
      If the <b>currency</b> does not exist already, nothing will happen.
    </li>
  </ul>
</p>

{% elif help_page == "import_dataset" %}
<p>
  <ul>
    <li class="compact">

    </li>
    <li class="compact">

    </li>
    <li class="compact">

    </li>
  </ul>
</p>
{% elif help_page == "create_invitation_qr" %}
<p>
  Use this screen to generate a QR code others can scan in order to pre-fill
  the registration form with a <b>namespace</b> (registry) and an initial
  <b>currency</b>.
</p>
<p>
  This is particularly convenient for quickly inducting a small group of users
  with whom you can interact within a pre-specified <b>namespace</b> and using
  a pre-specified <b>currency</b>.
</p>
{% elif help_page == "export_currency_journal" %}
<p>
  <ul>
    <li class="compact">

    </li>
    <li class="compact">

    </li>
    <li class="compact">

    </li>
  </ul>
</p>

{% else %}
<h3>Registration</h3>
<p>
  To register, enter the following details:
</p>
<p>
  <ul>
    <li class="compact">
      A short <em>username</em> comprising alphanumeric characters. The first
      character must be a letter.
    </li>
    <li class="compact">
      The <em>identifier</em> of an existing <b>namespace</b>.
    </li>
    <li class="compact">
      The <em>identifier</em> of an existing <b>currency</b>.
    </li>
    <li class="compact">
      At least one email address to allow recovery of login credentials. A
      cryptographic hash of the email address(es) will be saved to allow
      validation of the address provide in the password/PIN reset request, but
      the address itself will not be stored.
    </li>
    <li class="compact">
      A password (something random-looking and unguessable).
    </li>
    <li class="compact">
      A 6-digit PIN.
    </li>
  </ul>
  If you have reached this form by following an invitation link (typically by
  scanning a QR code), the <b>namespace</b> or <b>currency</b> field, usually
  both, will have been replaced by their <em>identifiers</em>.
</p>

<h3>Login recovery</h3>
<p>
  If you have forgotten your password or PIN, you can create new login
  credentials by clicking on
  <span style="color:#008000;font-weight:bold;">Forgotten password or
  PIN?</span> and entering your <b>login identity</b> (as created when you
  registered) along with one of the email addresses you provided for recovery
  purposes. If that address is valid, you will be sent a one-time recovery link
  taking you to a form in which you can enter a new passsword and PIN.
</p>

<hr />

<h3>General</h3>
<p>
  This is an experimental prototype intended to meet the following needs:
  <ul>
    <li class="compact">
      Demonstration of <em>open money</em> and <em>open measure</em>
      principles.
    </li>
    <li class="compact">
      A self-learning tool.
    </li>
    <li class="compact">
      A modelling, simulation and visualization tool - including a foundation
      for agent-based modelling.
    </li>
    <li class="compact">
      A prototype and reference implementation ("executable documentation") for
      the development of a functional equivalents which might be more easily
      deployed, more scalable and more efficient.
    </li>
    <li class="compact">
      A shorter-term solution for <em>real world</em> deployment.
    </li>
  </ul>
</p>



{% endif %}

{% endblock %}
