{% extends "base.html" %}

{% block content %}

<h2>Help</h2>

<p>
  This is an experimental prototype intended to meet the following needs:
  <ul>
    <li class="compact">
      Demonstration of <em>open money</em> and <em>open measure</em>
      principles.
    </li>
    <li class="compact">
      A self-learning tool.
    </li>
    <li class="compact">
      A modelling, simulation and visualization tool - including a foundation
      for agent-based modelling.
    </li>
    <li class="compact">
      A prototype and reference implementation ("executable documentation") for
      the development of a functional equivalents which might be more easily
      deployed, more scalable and more efficient.
    </li>
    <li class="compact">
      A shorter-term solution for <em>real world</em> deployment.
    </li>
  </ul>
</p>


{% endblock %}
