{% extends "base.html" %}

{% block content %}

<h3>holding ...</h3>

<p>
  A dataset import is in progress. This is an infrequent event and will not
  usually take very long (although a very large CSV file may take a couple of
  minutes to import - especially when a large number of new <b>currencies</b>
  or <b>account-holder identities</b> (<b>ahid</b>) are being created).
</p>
<p>
  Please wait at least a few seconds before you attempt to
  <a href="/home_ahc">return to your home page</a>, although on rare occasions
  you may have to be rather more patient.
</p>

{% endblock %}
