{% extends "base.html" %}

{% block content %}

{% if hub_mode == "slate_simple" %}
<!-- --------------------------------------------------------------------------
This is the simplified SLATE interface, listing only the *identities* and
*currencies*, hiding the *accounts*.
--------------------------------------------------------------------------- -->

<table>
  <tr>
    <td class="h"><b>identity</b></td>
    <td class="h">+</td>
    <td class="h"><b>currency</b></td>
    <!--
    <th>unit</th>
    -->
    <!--
    <td class="h"><b>pairing</b> (<b>account</b>)</td>
    -->
    <td class="h"><b>balance</b></td>
  </tr>
  {% for identity in identities %}<!-- list of dictionaries -->
  {% for account in identity.accounts %}
  <tr>
    <td align="left">
      <a href="/identity/change/{{ identity.fph }}">
        <b>{{ identity.hrns }}</b>
      </a>
    </td>
    <td align="left">
      <a href="/account/{{ account.fph }}/0/{{ identity.fph }}">
        <b>*</b>
      </a>
    </td>
    <td align="left">
      {% if account.primid_is_currency_steward %}
      <a href="/currency/{{ account.currency_fph }}">
        <b>{{ account.currency_hrns }}</b>
      </a>
      {% else %}
        <b>{{ account.currency_hrns }}</b>
      {% endif %}
    </td>
    <!--
    <td align="left">
      <a href="/account/{{ account.fph }}/00000000000000000000000000000000">
        <b>{{ account.hrns }}</b>
      </a>
    </td>
    -->
    <!--
    <td>
      {{ account.prefix }}{{ account.suffix }}
    </td>
    -->
    {% if account.isneg %}
    <td align="right" class="balneg">
    {% else %}
    <td align="right" class="balpos">
    {% endif %}
      <b>{{ account.balance }}</b>
    </td>
    <td align="left">
      <!--
      <a href="/account/{{ account.fph }}/00000000000000000000000000000000">
      -->
      <a href="/pay/from/{{ account.fph }}">
        <b>pay</b>
      </a>
    </td>
  </tr>
  {% endfor %}
  {% endfor %}
  <!--
  <tr>
    <td>

    </td>
    <td>

    </td>
    <td>
      Click on any <em>pairing</em> in this column to make a payment.
    </td>
    <td>

    </td>
  </tr>
  -->
</table>
<ul>
  <li class="compact">
    <p class="footnote">
      Click on any entry in the <b>identity</b> column to change to that
      working identity.
    </p>
  </li>
  <li class="compact">
    <p class="footnote">
      Any entry in the <b>currency</b> column will appear as link if you are
      one of its <em>stewards</em>.
    </p>
  </li>
  <li class="compact">
    <p class="footnote">
      Click on any entry in the <b>pairing</b> (<b>account</b>) column to make
      a payment.
    </p>
    <p class="footnote">
      Please note that any such <b>pairing</b> can be identified uniquely by
      its <b>account</b> identifier string. This provides the convenient
      <u>option</u> of a unique identifier for the <b>pairing</b>, something
      that can simplify payments in many circumstances.
    </p>
  </li>
  <li class="compact">
    <p class="footnote">
      If you know only the <b>identity</b> of the <em>payee</em> and the
      <b>currency</b> in which to pay, click on the <em>pay to agent</em>
      button above. This will show you the options <em>from</em> and
      <em>to</em> which to pay.
    </p>
  </li>
</ul>
<hr />

<a href="/create_namespace"><b>new namespace</b></a>
|
<a href="/create_currency"><b>new currency</b></a>

{% endif %}

{% if hub_mode == "slate_normal" %}
<!-- --------------------------------------------------------------------------
This is the original SLATE interface, listing *accounts* as well as
*identities* and *currencies*.
--------------------------------------------------------------------------- -->

{% for identity in identities %}<!-- list of dictionaries -->

<div class="header">
  <b>
    <a href="/identity/change/{{ identity.fph }}">
      {{ identity.hrns }}
    </a>
  </b>
  ({{ identity.type }})
  {% if identity.fph == primary_identity_fph %}
  | <b><a href="/list_stewardships">stewardships</a></b>
  | <a href="/create_secid"><b>new alias</b></a>
  {% endif %}
</div>
<br /><br />
<table>
  <tr>
    <th>account</th>
    <th>unit</th>
    <th>balance</th>
    <th>currency</th>
  </tr>
{% for account in identity.accounts %}
  <tr>
    <td align="left">
      <a href="/account/{{ account.fph }}/00000000000000000000000000000000">
        <b>{{ account.hrns }}</b>
      </a>
    </td>
    <td>
      {{ account.prefix }}{{ account.suffix }}
    </td>
    {% if account.isneg %}
    <td align="right" class="balneg">
    {% else %}
    <td align="right" class="balpos">
    {% endif %}
      <b>{{ account.balance }}</b>
    </td>
    <td align="left">
      {% if account.primid_is_currency_steward %}
      <a href="/currency/{{ account.currency_fph }}">
        <b>{{ account.currency_hrns }}</b>
      </a>
      {% else %}
        <b>{{ account.currency_hrns }}</b>
      {% endif %}
    </td>
  </tr>
{% endfor %}
</table>
<a href="/create_account/{{ identity.fph }}"><b>add account</b></a>
for
<b>{{ identity.hrns }}</b>
<br /><br />
{% endfor %}
<hr />

<a href="/create_namespace"><b>create new namespace</b></a>
|
<a href="/create_currency"><b>create new currency</b></a>

{% endif %}

{% if hub_mode == "nests" %}
<!-- --------------------------------------------------------------------------
This section will be modified interface in due course to make it suitable for
use in NESTS.
--------------------------------------------------------------------------- -->

{% for identity in identities %}<!-- list of dictionaries -->

<div class="header">
  <b>
    <a href="/identity/change/{{ identity.fph }}">
      {{ identity.hrns }}
    </a>
  </b>
  ({{ identity.type }})
  {% if identity.fph == primary_identity_fph %}
  [ <b><a href="/list_stewardships">list stewardships</a></b> ]
  {% endif %}
</div>
<br /><br />
<table>
  <tr>
    <th>account</th>
    <th>unit</th>
    <th>balance</th>
    <th>currency</th>
  </tr>
{% for account in identity.accounts %}
  <tr>
    <td align="left">
      <a href="/account/{{ account.fph }}/00000000000000000000000000000000">
        <b>{{ account.hrns }}</b>
      </a>
    </td>
    <td>
      {{ account.prefix }}{{ account.suffix }}
    </td>
    {% if account.isneg %}
    <td align="right" class="balneg">
    {% else %}
    <td align="right" class="balpos">
    {% endif %}
      <b>{{ account.balance }}</b>
    </td>
    <td align="left">
      {% if account.primid_is_currency_steward %}
      <a href="/currency/{{ account.currency_fph }}">
        <b>{{ account.currency_hrns }}</b>
      </a>
      {% else %}
        <b>{{ account.currency_hrns }}</b>
      {% endif %}
    </td>
  </tr>
{% endfor %}
</table>
<a href="/create_account/{{ identity.fph }}"><b>add account</b></a>
for
<b>{{ identity.hrns }}</b>
<br /><br />
{% endfor %}
<hr />

<a href="/create_namespace"><b>create new namespace</b></a>
|
<a href="/create_currency"><b>create new currency</b></a>

{% endif %}

{% endblock %}
