{% extends "base.html" %}

{% block content %}

{% for identity in identities %}<!-- list of dictionaries -->

  <div class="header">
    <b>
      <a href="/change_working_identity/{{ identity.fph }}">
        {{ identity.hrns }}
      </a>
    </b>
    ({{ identity.type }})
    {% if identity.fph == primary_identity_fph %}
    [ <b><a href="/list_stewardships">list stewardships</a></b> ]
    {% endif %}
  </div>
  <br /><br />
  <table>
    <tr>
      <th>account</th>
      <th>unit</th>
      <th>balance</th>
      <th>currency</th>
    </tr>
  {% for account in identity.accounts %}
    <tr>
      <td align="left">
        <a href="/account/{{ account.fph }}/00000000000000000000000000000000">
          <b>{{ account.hrns }}</b>
        </a>
      </td>
      <td>
        {{ account.prefix }}{{ account.suffix }}
      </td>
      {% if account.isneg %}
      <td align="right" class="balneg">
      {% else %}
      <td align="right" class="balpos">
      {% endif %}
        <b>{{ account.balance }}</b>
      </td>
      <td align="left">
        {% if account.primid_is_currency_steward %}
        <a href="/currency/{{ account.currency_fph }}">
          <b>{{ account.currency_hrns }}</b>
        </a>
        {% else %}
          <b>{{ account.currency_hrns }}</b>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
  </table>
  <a href="/create_account/{{ identity.fph }}"><b>add account</b></a>
  for
  <b>{{ identity.hrns }}</b>
  <br /><br />
{% endfor %}
  <hr />

  <a href="/create_namespace"><b>create new namespace</b></a>
  |
  <a href="/create_currency"><b>create new currency</b></a>

{% endblock %}
