{% extends "base.html" %}

{% block content %}

{% if hub_mode == "omtrad" %}
<!-- --------------------------------------------------------------------------
This interface implements the more tradional behaviour of previous open money
implementations, identifying *accounts* as a single intersection on a notional
grid, each column identifying a *currency* and each rows identifing an *ahid*
(*account-holder identity*). Unlike a *primid* or a *secid*, an *ahid* can have
no more than one *account* in any *currency*. This enable the *accounts* to be
hidden.
--------------------------------------------------------------------------- -->

<p>Your <b>currency</b>|<b>account-holder</b> pairings:</p>

<table>
  <tr>
    <td class="h"><b>currency</b></td>
    <td class="h"><b>account-holder</b></td>
    <td class="h"><b>balance</b></td>
    <td class="h"><b>volume</b></td>
    <td class="h"></td>
    <!--
    <td class="h"><b>annotation</b></td>
    -->
  </tr>
  {% for p_row in p_rows %}<!-- list of dictionaries -->
  <tr>
    <td align="left">
      {% if p_row.primid_currency_steward %}
      <a href="/currency/{{ p_row.currency_fph }}">
        {{ p_row.currency_hrns }}
      </a>
      {% else %}
        {{ p_row.currency_hrns }}
      {% endif %}
    </td>
    <td align="left">
      <a href="/pay_to_ahid/{{ p_row.ahid_fph }}/{{ p_row.currency_fph }}">
        {{ p_row.ahid_hrns }}
      </a>
    </td>
    {% if p_row.isneg %}
    <td align="right" class="balneg">
    {% else %}
    <td align="right" class="balpos">
    {% endif %}
     {{ p_row.balance }}
    </td>
    <td align="right">
      {{ p_row.volume }}
    </td>
    <td>
      <a href="/journal/{{ p_row.ahid_fph }}/{{ p_row.currency_fph }}">*</a>
    </td>
  </tr>
  {% endfor %}
</table>

<ul>
  <li class="compact">
    <p class="footnote">
      Click on any entry in the <b>account-holder</b> column to make a payment.
    </p>
  </li>
  <li class="compact">
    <p class="footnote">
      Click on <b>*</b> in any row to display the transaction history.
    </p>
  </li>
  <li class="compact">
    <p class="footnote">
      Click on <b>currency</b> link to manage it.
    </p>
  </li>
</ul>
<hr />

<a href="/create_namespace">new namespace</a>
|
<a href="/create_currency">new currency</a>

{% endif %}<!-- hub_mode == "omtrad" -->

{% endblock %}
