{% extends "base.html" %}

{% block content %}

<!-- --------------------------------------------------------------------------
This interface implements the more tradional behaviour of previous open money
implementations, identifying *accounts* as a single intersection on a notional
grid, each column identifying a *currency* and each rows identifing an *ahid*
(*account-holder identity*). Unlike a *primid*, an *ahid* can have no more than
one *account* in any *currency*. This enable the *accounts* to be hidden.
--------------------------------------------------------------------------- -->

{% if concestor_hrns %}
<div class="clear-both">
<div class="concestor">
Working within namespace <b>{{ concestor_hrns }}</b>
</div>
<div class="clear-both"><!-- menu row 1 -->
{% endif %}

{% if show_payment_form %}
<p>
Paying from <b>{{ payer_ahid_hrns_short }}</b> in currency
<b>{{ currency_hrns_short }}</b>
</p>
<!-- payment form -->
<form action="" method="post" novalidate>
{{ form.hidden_tag() }}
<table>
  <tr class="pform">
    <td colspan="5"></td>
  </tr>
  <!--
  <tr class="pform">
    <td class="pform">using currency</td>
    <td class="pform"></td>
    <td class="pform">make a payment</td>
    <td class="pform"></td>
    <td class="pform"></td>
  </tr>
  -->
  {% if display_in_from_lines %}
  <tr class="pform">
    <td class="pform" colspan="2" align="right">Paying in</td>
    <td class="pform" colspan="3"><b>{{ p_currency_hrns}}</b></td>
  </tr>
  <tr class="pform">
    <td class="pform" colspan="2" align="right"><em>from</em></td>
    <td class="pform"><b>{{ payer_ahid_hrns }}</b></td>
    <td class="pform"></td>
    <td class="pform"></td>
  </tr>
  {% endif %}
  <tr class="pform">
    {% if display_in_from_lines %}
    <td class="pform" colspan="2" align="right"> <em>to</em></td>
    {% else %}
    <td class="pform" colspan="2" align="right"></td>
    {% endif %}
    <td class="pform">{{ form.payee_ahid(size=10) }}</td>
    <td class="pform" colspan="2">
      <input
        type="currency"
        name="amount"
        id="pence"
        min="0.00"
        max="9999.99"
        step="0.01"
        size="5"
        placeholder="amount"
      />
      <input type="submit" value="PAY">
    </td>
  </tr>
  <tr class="pform" valign="top">
    <td colspan="5" class="pform"></td>
  </tr>
  <tr class="pform" valign="top">
    <td class="pform" colspan="2" align="right"></td>
    <td colspan="3" class="pform">{{ form.annotation(size=800) }}</td>
  </tr>
</table>
</form>
{% endif %}

<table>
  <tr>
    <td class="h" colspan="2"><b>currency</b></td>
    <td class="h"><b>account-holder</b></td>
    <td class="h"><b>balance</b></td>
    <td class="h"><a href="/toggle_menu"><b>+</b></a></td>
  </tr>
  {% for p_row in p_rows %}<!-- list of dictionaries -->
  <tr>
    {% if not p_row.blank_currency_cell %}
    <td align="left" rowspan="{{ p_row.currency_count }}" colspan="2">
      {% if p_row.primid_currency_steward %}
      <a href="/currency/{{ p_row.currency_fph }}">
        <!-- {{ p_row.currency_hrns }} -->
        {{ p_row.currency_hrns_displayed }}
      </a>
      {% else %}
        <!-- {{ p_row.currency_hrns }} -->
        {{ p_row.currency_hrns_displayed }}
      {% endif %}
    </td>
    {% endif %}
    <td align="left">
      <!-- 2025-10-25: Modified (see app/routes.py  for explanation) -->
      <!--
      <a href="/pay_to_ahid/{{ p_row.ahid_fph }}/{{ p_row.currency_fph }}">
        {{ p_row.ahid_hrns }}
      </a>
      -->
      <a href="/home_ahp/{{
        p_row.ahid_fph }}/{{ p_row.currency_fph }}/{{ concestor_fph }}/{{
        p_row.p_balance }}">
        <!-- {{ p_row.ahid_hrns }} -->
        {{ p_row.ahid_hrns_displayed }}
      </a>
    </td>
    <!--
    {% if p_row.isneg %}
    <td align="right" class="balneg">
    {% else %}
    <td align="right" class="balpos">
    {% endif %}
     {{ p_row.balance }}
    </td>
    -->
    <td align="right">
      {{ p_row.balance }}
    </td>
    <td>
      <a href="/journal/{{ p_row.ahid_fph }}/{{ p_row.currency_fph }}">
        {% if p_row.pairing_selected %}
        <div style="font-size:1.0em">&#9744;</div>
        {% else %}
        <div style="font-size:1.0em">&#9724;</div>
        {% endif %}
        <!--&#x025FC; -->
        <!-- See https://html-css-js.com/html/character-codes/ -->
      </a>
    </td>
  </tr>
  {% endfor %}
</table>

<!--
<ul>
  <li class="compact">
    <p class="footnote">
      Click on any entry in the <b>account-holder</b> column to make a payment.
    </p>
  </li>
  <li class="compact">
    <p class="footnote">
      Click on <a href="">&#x025FC;</a> in any row to display the transaction
      history.
    </p>
  </li>
  <li class="compact">
    <p class="footnote">
      If you are a steward of a <b>currency</b> it will be shown as a
      <a href="">link</a> on which you can click to manage it.
    </p>
  </li>
</ul>
<hr />
-->

{% endblock %}
