{% extends "base.html" %}

{% block content %}

  <strong>accounts</strong> |
  <a href="/account/create"><strong>add account</strong></a>
  <br /><br />
  <table>
    <tr>
      <th>account</th>
      <th>currency</th>
      <th>balance</th>
      <th>unit</th>
    </tr>
  {% for account in accounts %}
    <tr>
      <td align="left">
        <a href="/account/{{ account.fph }}">
          <strong>{{ account.hrns }}</strong>
        </a>
      </td>
      <td align="left">
        <a href="/currency/{{ account.currency_fph }}">
          <strong>{{ account.currency_hrns }}</strong>
        </a>
      </td>
      {% if account.isneg %}
      <td align="right" class="balneg">
      {% else %}
      <td align="right" class="balpos">
      {% endif %}
        <strong>{{ account.balance }}</strong>
      </td>
      <td>
        {{ account.prefix }}{{ account.suffix }}
      </td>
    </tr>
  {% endfor %}
  </table>

  <hr />

  <strong>secondary identities</strong> |
  <!-- <a href="/identity/change"><strong>change identity</strong></a> | -->
  <a href="/identity/create"><strong>create new identity</strong></a>
  <br /><br />
  <ul>
  {% for secid in secids %}
    <li>
      <a href="/secid/manage/{{ secid.fph }}">
        <strong>{{ secid.hrns }}</strong>
      </a>
    </li>
  {% endfor %}
  </ul>

  <hr />

  <strong>stewardships</strong>
  <br /><br />

  <table>
    <tr>
      <th>stewarded entity</th>
      <th>entity type</th>
    </tr>
    {% for stewardship in stewardships %}
    <tr>
      <td class="compact2">
        <a href="/stewardship/{{ stewardship.fph }}">
          <strong>{{ stewardship.hrns }}</strong>
        </a>
      </td>
      <td>
        {{ stewardship.etype }}
      </td>
    </tr>
    {% endfor %}
  </table>

  <hr />


{% endblock %}
