{% extends "base.html" %}

{% block content %}

  <b>identites</b> |
  <!-- <a href="/identity/change"><b>change identity</b></a> | -->
  <a href="/identity/create"><b>create new alias</b></a>
  <br /><br />
  <ul>

{% for identity in identities %}<!-- list of dictionaries -->
    <li>
      <a href="/secid/manage/{{ identity.fph }}">
        <b>{{ identity.hrns }}</b>
      </a>
    </li>
{% endfor %}

  </ul>

  <hr />


<br /><br />
<p class="shout">
  Not yet fully implemented
</p>


{% endblock %}
