{% extends "base.html" %}

{% block content %}

  <h3>Your identites</h3>
  <!-- <a href="/identity/change"><b>change identity</b></a> | -->
  <p>
    Your <b>identities</b> are all listed below, starting with your <b>login
    identity</b> followed by its <b>aliases</b> (if any). You can click on any
    to change immediately to that <em>working</em> <b>identity</b> or you can
    <a href="/create_secid"><b>create a new alias</b></a>.
  </p>
  <br />
  <ul>
    {% for identity in identities %}<!-- list of dictionaries -->
    <li>
      {% if identity.hrns == primary_identity_hrns %}
      [<a href="/primid/manage/{{ identity.fph }}">manage</a>]
      <b>
        <a href="/identity/change/{{ identity.fph }}">{{ identity.hrns }}</a>
      </b>
      (login identity)
      [<a href="/stewardships/{{ primid_fph }}">stewardships</a>]
      {% else %}
      [<a href="/secid/manage/{{ identity.fph }}">manage</a>]
      <b>
        <a href="/identity/change/{{ identity.fph }}">{{ identity.hrns }}</a>
      </b>
      {% endif %}
    </li>
    {% endfor %}
  </ul>

  <hr />

{% endblock %}
