{% extends "base.html" %}

{% block content %}

  <strong>identites</strong> |
  <!-- <a href="/identity/change"><strong>change identity</strong></a> | -->
  <a href="/identity/create"><strong>create new alias</strong></a>
  <br /><br />
  <ul>

{% for identity in identities %}<!-- list of dictionaries -->
    <li>
      <a href="/secid/manage/{{ identity.fph }}">
        <strong>{{ identity.hrns }}</strong>
      </a>
    </li>
{% endfor %}

  </ul>

  <hr />


<br /><br />
<p class="shout">
  Not yet fully implemented
</p>


{% endblock %}
