{% extends "base.html" %}

{% block content %}
  <form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
      {{ form.identity.label }} (HRNS or FPH)<br />
      {{ form.identity(size=32) }}
      {% for error in form.identity.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <!--
    <p>
      {{ form.email.label }} (any)<br />
      {{ form.email(size=32) }}
      {% for error in form.email.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    -->
    <p>
      {{ form.password.label }}<br />
      {{ form.password(size=32) }}
      {% for error in form.password.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    {{ form.pro }}
    {{ form.pin_prompt.data }}
    <p>
      {{ form.pse.label }}<br />
      {{ form.pse(size=3) }} {{ pin_form_message }}
      {% for error in form.pse.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.remember_me() }} {{ form.remember_me.label }}
    </p>
    <p>
      {{ form.submit() }}
    </p>
  </form>
  <p>
    <a href="/login/recover">Forgotten password or PIN?</a>
  </p>
  <hr />
  <p class="footnote">
    Log in using either an <em>identity</em> (using the the full HRNS or its
    equivalent FPH) or an email address registered for that
    <strong>identity</strong>.
  </p>
  <p class="footnote">
    If both the <strong>identity</strong> and an email address are entered,
    they will be checked for agreement.
  </p>
  <p class="footnote">
    The <strong>identity</strong> entered may be either a <strong>primary
    identity</strong> or one of the <strong>secondary identities</strong>
    associated with it. In either case, the <strong>primary identity</strong>
    is used for authentication.
  </p>
{% endblock %}
