{% extends "base.html" %}

{% block content %}
  <form action="" method="post" autocomplete="off" novalidate>
    {{ form.hidden_tag() }}
    <p>
      {{ form.identity.label }} (HRNS or FPH)<br />
      {{ form.identity(size=32) }}
      {% for error in form.identity.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <!--
    <p>
      {{ form.email.label }} (any)<br />
      {{ form.email(size=32) }}
      {% for error in form.email.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    -->
    <p>
      {{ form.password.label }}<br />
      {{ form.password(size=32) }}
      {% for error in form.password.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
    {{ form.pro }}
    {{ form.pin_prompt.data }}
    </p>
    <p>
      {{ form.pse.label }}<br />
      {{ form.pse(size=3) }}
      {{ pin_form_message }}
      {% for error in form.pse.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.remember_me() }} {{ form.remember_me.label }}
    </p>
    <p>
      {{ form.submit() }}
    </p>
  </form>
  <p>
    <a href="/login/recover">Forgotten password or PIN?</a>
  </p>
  <hr />
  <p class="footnote">
    Log in identifying yourself by your <b>login identity</b> (e.g.
    <em>me.here.uk</em>).
  </p>
  <p class="footnote">
    (In future versions it may be possible to log in using an email address
    registered for that <b>identity</b>, but that option has been disabled for
    the time being.)
  </p>
  <!--
  <p class="footnote">
    If both the <b>identity</b> and an email address are entered,
    they will be checked for agreement.
  </p>
  <p class="footnote">
    The <b>identity</b> entered may be either a <b>primary
    identity</b> or one of the <b>secondary identities</b>
    associated with it. In either case, the <b>primary identity</b>
    is used for authentication.
  </p>
  -->
{% endblock %}
