{% extends "base.html" %}

{% block content %}

<!-- Messages for the *primary identity* may include critical communications
     from stewards or other indelible alerts. Therefore these are displayed in
     all cases, above those for the current working *identity*.
-->
<b><a href="/message/send">send a message</a></b>

<hr size="1" />

<h3>Messages received</h3>
<p>
  Your following
  {% if hub_mode == "omtrad" %}
  <b>account-holder</b>
  {% endif %}
  <b>identities</b> have received messages:
</p>
<ul>
{% for recipient in message_recipients_list %}
  {% if recipient.some_indelible %}
  <li class="messages_indelible">
  {% else %}
  <li class="messages_available">
  {% endif %}
    <a href="/message/show/{{ recipient.fph }}">{{ recipient.hrns }}</a>
    ({{ recipient.message_count }})
    {% if recipient.primid %}
    (login/primary identity)
    {% endif %}
  </li>
{% endfor %}
</ul>

{% endblock %}
