{% extends "base.html" %}

{% block content %}

Make a payment<br />
in <em>currency</em> <b>{{ currency_hrns }}</b><br />
from <em>account-holder</em> <b>{{ payer_ahid_hrns }}</b><br />
to:

  <form action="" method="post" novalidate>
  {{ form.hidden_tag() }}
  <p>
    {{ form.payee_ahid.label }}<br />
    {{ form.payee_ahid(size=20) }}
  </p>
  <!--
  <p>
    {{ form.currency_id.label }}<br />
    {{ form.currency_id(size=20) }}
  </p>
  -->
  <p>
    {{ form.amount.label }}<br />
    <!--
    {{ form.amount(size=32) }}
    -->
    <!--
    <input type="number" placeholder="Enter a payment value here" />
    -->
    <input
      type="currency"
      name="amount"
      value="0.00"
      id="pence"
      min="0.00"
      max="9999.99"
      step="0.01"
      size="10"
      placeholder="Enter a payment value here"
    />
  </p>
  <p>
    {{ form.annotation.label }}<br />
    {{ form.annotation(size=200) }}
  </p>
  <p>
    <input type="submit" value="PAY">
  </p>

{% endblock %}
