{% extends "base.html" %}

{% block content %}

<!--<h3>Make a payment to an account</h3>-->


<form action="" method="post" autocomplete="off" novalidate>
  {{ form.hidden_tag() }}
  <p>
    <b>{{ form.to_account_id.label }}</b><br />
    <!--{{ form.to_account_id(size=32) }}-->
    <input
      type="text"
      name="to_account_id"
      value=""
      size="32"
      placeholder="Enter an identifier for the payee account"
    />

  </p>
  <p>
    <input type="submit" value="list the accounts from which you can pay">
    <!--<b>{{ form.submit }}</b>-->
  </p>
</form>
<hr />

<br /><br />
<p class="shout">
  Not yet fully implemented
</p>

{% endblock %}
