{% extends "base.html" %}

{% block content %}

<p>Payer identity = <b>{{ payer_identity_hrns }}</b></p>

<p>Currency = <b>{{ currency_hrns }}</b></p>



<form action="" method="post" novalidate>
  {{ form.hidden_tag() }}
  <p>
    {{ form.to_identity_id.label }}<br />
    {{ form.to_identity_id(size=30) }}<br />
  </p>
  <p>
    {{ form.amount.label }}<br />
    <input
      type="currency"
      name="amount"
      value="0.00"
      id="pence"
      min="0.00"
      max="9999.99"
      step="0.01"
      size="10"
      placeholder="Enter a payment value here"
    />
  </p>
  <p>
    {{ form.annotation.label }}<br />
    {{ form.annotation(size=128) }}
  </p>
  <p>
    {{ form.submit() }}
  </p>
</form>


{% endblock %}
