{% extends "base.html" %}

{% block content %}

<h3>Make a payment to an agent</h3>

<p>
  Paying from identity <b>{{ working_identity_hrns }}</b>
</p>
<form action="" method="post" autocomplete="off" novalidate>
  {{ form.hidden_tag() }}
  {% if currency_hrns %}
  <p>
    Using currency <b>{{ currency_hrns }}</b>
  </p>
  {% else %}
  <p>
    {{ form.currency_id.label }}<br />
    <input
      type="text"
      name="currency_id"
      value="{{ currency_fph }}"
      size="32"
      placeholder="Enter an identifier for the currency"
    />
  </p>
  {% endif %}
  <p>
    {{ form.to_identity_id.label }}<br />
    <input
      type="text"
      name="to_identity_id"
      value=""
      size="32"
      placeholder="Enter an identifier for the payee agent"
    />
  </p>
  <p>
    {{ form.amount.label }}<br />
    <input
      type="currency"
      name="amount"
      value="0.00"
      id="pence"
      min="0.00"
      max="9999.99"
      step="0.01"
      size="10"
      placeholder="Enter a payment value here"
    />
  </p>
  <p>
    {{ form.annotation.label }}<br />
    {{ form.annotation(size=128) }}
  </p>
  <p>
    <!--
    <input type="submit" value="pay">
    -->
    {{ form.pay_agent() }}
  </p>
</form>
<hr />

{% endblock %}
