{% extends "base.html" %}

{% block content %}

<h3>Make a payment to a selected account</h3>

<p>
  Paying from <b>identity</b> {{ working_identity_hrns }}
</p>
<form action="" method="post" autocomplete="off" novalidate>
  {{ form.hidden_tag() }}
  {% if currency_hrns %}
  <p>
    Using currency <b>{{ currency_hrns }}</b>
  </p>
  {% else %}
  <p>
    <b>{{ form.currency_id.label }}</b><br />
    {{ form.currency_id(size=30) }}
    <!--
    <input
      type="text"
      name="currency_id"
      value=""
      size="32"
      placeholder="Enter an identifier for the currency"
    />
    -->
  </p>
  {% endif %}
  <p>
    <b>{{ form.to_identity_id.label }}</b><br />
    {{ form.to_identity_id(size=30) }}
    <!--
    <input
      type="text"
      name="to_identity_id"
      value=""
      size="32"
      placeholder="Enter an identifier for the payee agent"
    />
    -->
  </p>
  <p>
    <b>{{ form.amount.label }}</b><br />
    <input
      type="currency"
      name="amount"
      value="0.00"
      id="pence"
      min="0.00"
      max="9999.99"
      step="0.01"
      size="10"
      placeholder="Enter a payment value here"
    />

  </p>
  <p>
    <b>{{ form.annotation.label }}</b><br />
    {{ form.annotation(size=100) }}
  </p>

  <p>
    <input type="submit" value="pay">
    <!--<b>{{ form.submit }}</b>-->
  </p>
</form>
<hr />

{% endblock %}
