{% extends "base.html" %}

{% block content %}

  <form action="" method="post" novalidate>

    {{ form.hidden_tag() }}

     <!-- Username and initial *namespace* for *primary identity*-->
    <div class="form-box">
    <!-- If the the parent namespace has already been specified (e.g. if the
    form has been invoked by scanning a QR code), this is displayed instead of
    the input field. -->
    {% if initial_namespace_fph and initial_namespace_hrns %}
      You have been invited to register an <b>identity</b> in the
      <b>namespace</b>
      <span class="dark-green-bold">{{ initial_namespace_hrns }}</span>
      <br />
      <div style="float:left; margin:2px;">
        {{ form.username.label }}<br />
        {{ form.username(size=10) }} <b>.</b>
        {% for error in form.username.errors %}
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </div>
    {% elif hub_mode == "slate_minimal" %}
      <div style="float:left; margin:2px;">
        {{ form.username.label }}<br />
        {{ form.username(size=10) }}
      </div>
    {% else %}
      <div style="float:left; margin:2px;">
        {{ form.username.label }}<br />
        {{ form.username(size=10) }} <b>.</b>
        {% for error in form.username.errors %}
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </div>
      <div style="float:left; margin:2px;">
        {{ form.namespace.label }}<br />
        {{ form.namespace(size=20) }}
        {% for error in form.namespace.errors %}
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </div>
    {% endif %}
    <br />
    </div>

    <!-- initial currency -->
    <div class="clear-both"></div>
    <div class="form-box">
    <!-- If the initial currency has already been specified (e.g. if the form
    has been invoked by scanning a QR code), this is displayed instead of the
    input field. -->
    {% if initial_currency_fph and initial_currency_hrns %}
      You have been invited to create an <b>account</b> in the
      <b>currency</b>
      <span class="dark-green-bold">{{ initial_currency_hrns }}</span>
    {% elif hub_mode != "slate_minimal" %}
      {{ form.currency.label }}<br />
      {{ form.currency(size=10) }}
      {% for error in form.currency.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    {% endif %}
    </div>

    {% if real_name_used %} <!-- e.g. in NESTS -->
      <div class="form-box">
        {{ form.realname.label }}<br />
        {{ form.realname(size=30) }}
        {% for error in form.realname.errors %}
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </div>
    {% endif %}

    <div class="form-box">
      <div style="float:left; margin:2px;">
        {{ form.email_1.label }}<br />
        {{ form.email_1(size=20) }}
        {% if notification_option_included %}
        {{ form.save_email_2 }} {{ form.save_email_2.label }}
        {% endif %}
      </div>
      <div style="float:left; margin:2px;">
        {{ form.email_2.label }}<br />
        {{ form.email_2(size=20) }}
        {% if notification_option_included %}
        {{ form.save_email_1 }} {{ form.save_email_1.label }}
        {% endif %}
      </div>
    </div>

    <!-- password -->
    <div class="clear-both"></div>
    <div class="form-box">
      <div style="float:left; margin:2px;">
        {{ form.password.label }}<br />
        {{ form.password(size=20) }}
        {% for error in form.password.errors %}
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </div>
      <div style="float:left; margin:2px;">
        {{ form.password_repeat.label }}<br />
        {{ form.password_repeat(size=20) }}
        {% for error in form.password_repeat.errors %}
          <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </div>
    </div>

    <!-- PIN -->
    <div class="form-box">
      {{ form.pin.label }}<br />
      {{ form.pin(size=6) }} Enter a 6-digit memorable PIN.
      {% for error in form.pin.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </div>

    <!-- SSH public key -->
    {% if ssh_public_key_allowed %}
    <div class="form-box">
      {{ form.ssh_pubkey.label }}<br />
      {{ form.ssh_pubkey(size=42) }}
    </div>
    {% endif %}

    <!-- -->
    <div class="form-box">
      {{ form.submit() }}
    </div>

  </form>

  <hr />

<p class="footnote">
  You will not be able to register (i.e. to create your <b>primary
  identity</b>) unless both an initial parent <b>namespace</b>
  and an initial <b>currency</b> are specified.
</p>
<p class="footnote">
  Upon registration, a <b>namespace</b> will be created for you with
  the specified parent <b>namespace</b> and an intial
  <b>account</b> (in the specified <b>currency</b>) will be
  created for you within your own <b>namespace</b>. That account will
  be given the same <em>name</em> as the <b>currency</b>.
</p>
<p class="footnote">
  For example, if the parent <b>namespace</b> is
  <em>someneighbourhood.sometown.somewhere</em>, the <em>username</em>
  you have chosen is <em>fred</em> and the initial <b>currency</b> is
  <em>local£.possibly.somewhere.else</em>, then<ul>
  <li class="compact-footnote">
    your namespace will be <em>fred.someneighbourhood.sometown.somewhere</em>
  </li>
  <li class="compact-footnote">
    your initial account will be
    <em>local£.fred.someneighbourhood.sometown.somewhere</em>
  </li>
  </ul>
</p>
<p class="footnote">
  You will not be able to use any <em>name</em> that already exists within a
  <b>namespace</b>.
</p>
{% endblock %}
