{% extends "base.html" %}

{% block content %}

{% for identity in identities %}<!-- list of dictionaries -->

  <div class="header">
    <b>{{ current_identity.hrns }}</b> ({{ current_identity.type }})
  </div>
  <br /><br />

  <b>secondary identities</b> |
  <!-- <a href="/identity/change"><b>change identity</b></a> | -->
  <a href="/create_secid"><b>create new alias</b></a>
  <br /><br />
  <ul>
  {% for secid in secids_list %}
    <li>
      <a href="/secid/manage/{{ secid.fph }}">
        <b>{{ secid.hrns }}</b>
      </a>
    </li>
  {% endfor %}
  </ul>

  <hr />

{% endfor%}

<br /><br />
<p class="shout">
  Not yet fully implemented
</p>


{% endblock %}
