{% extends "base.html" %}

{% block content %}

{% for identity in identities %}<!-- list of dictionaries -->

  <div class="header">
    <b>{{ identity.hrns }}</b> ({{ identity.type }})
  </div>
  <br /><br />
  <hr />

  <b>stewardships</b>
  <br /><br />

  <table>
    <tr>
      <th>stewarded entity</th>
      <th>entity type</th>
    </tr>
    {% for stewardship in stewardships %}
    <tr>
      <td class="compact2">
        <a href="/stewardship/{{ stewardship.fph }}">
          <b>{{ stewardship.hrns }}</b>
        </a>
      </td>
      <td>
        {{ stewardship.etype }}
      </td>
    </tr>
    {% endfor %}
  </table>

  <hr />

{% endfor %}

<br /><br />
<p class="shout">
  Not yet fully implemented
</p>



{% endblock %}
