{% extends "base.html" %}

{% block content %}

<table>
  <tr>
    <th>namespace</th>
    <th>currency</th>
  </tr>
  {% for s_row in stewardships_tabulated %}
  <tr>
    {% if s_row.n %}
    <td class="compact2">
      <a href="/namespace/stewards/{{ s_row.fph }}">{{ s_row.hrns }}</a>
    </td>
    {% else %}
    <td></td>
    {% endif %}
    {% if s_row.c %}
    <td class="compact2">
      <a href="/currency/stewards/{{ s_row.fph }}">{{ s_row.hrns }}</a>
    </td>
    {% else %}
    <td></td>
    {% endif %}
  </tr>
{% endfor %}
</table>

<hr />

<br /><br />
<p class="shout">
  Not yet fully implemented
</p>



{% endblock %}
