{% extends "base.html" %}

{% block content %}

<h3>Transaction journal</h3>

For <em>account-holder</em>: <b>{{ ahid_hrns }}</b><br />
in <em>currency</em>: <b>{{ currency_hrns }}</b><br /><br />
(volume so far: {{ account_volume }})<br /><br />

<table>
  <tr valign="bottom" align="center">
    <td class="h"><b>with</b></td>
    <td class="h"><b>in</b></td>
    <td class="h"><b>out</b></td>
    <td class="h"><b>balance</b></td>
    <td class="h"><b>annotation</b></td>
  </tr>
  {% for row in journal_rows %}
  <tr>
    {% if row.type == "receipt" %}
    <td title="{{ row.date }} {{ row.time }}" align="left">
      {{ row.other_ahid_hrns }}&nbsp;&gt;
    </td>
    {% else %}
    <td title="{{ row.date }} {{ row.time }}" align="right">
      &gt;&nbsp;{{ row.other_ahid_hrns }}
    </td>
    {% endif %}
    {% if row.type == "receipt" %}
    <td align="right">{{ row.amount }}</td>
    {% else %}
    <td></td>
    {% endif %}
    {% if row.type != "receipt" %}
    <td align="right">{{ row.amount }}</td>
    {% else %}
    <td></td>
    {% endif %}
    <td align="right">{{ row.balance }}</td>
    <td align="left">{{ row.annotation }}</td>
  </tr>
  {% endfor %}
</table>

<br />
<a href="/account/export/{{ account_fph }}">Export as CSV</a>
<br />

{% endblock %}
